<!DOCTYPE html>
<html>
<head>
    <title>Twitter Clone</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'feed:index' %}">Twitter Clone Feed</a></h1>
    </header>
    <aside>
        Logged in as {{ user.username }}.
        <form action="{% url 'feed:logout_user' %}" method="POST">
        {% csrf_token %}
            <input type="submit" value="Logout" />
        </form>
    </aside>
    <hr />
    <main>
        
        {% block content %}
        {% endblock %}

    </main>
</body>
</html>