{% extends "twitter_clone/base.html" %}

{% block content %}

<section class="center">
<h2>Create a Post</h2>
    <form action="{% url 'feed:submit' %}" method="POST">
        {% csrf_token %}
        {% for field in post_form %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
</section>
<hr />
<section>
    {% if feed %}
        <ul class="feed">
        {% for post in feed %}

            <li>{% include 'twitter_clone/block_post.html' %}</li>

        {% endfor %}
        </ul>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
</section>

{% endblock %}
