{% extends "twitter_clone/base.html" %}


{% block content %}

<section>
<h2>Log in</h2>
<form action="{% url 'feed:login_user' %}" method="POST">
    {% csrf_token %}
    {% for field in auth_form %}
        {{ field }}
    {% endfor %}
    <input type="submit" value="Login" />
</form>
</section>

<hr />

<section>
<h2>Register as a User</h2>
    <form action="{% url 'feed:create_user' %}" method="POST">
        {% csrf_token %}
        {% for field in user_form %}
            {{ field }}
        {% endfor %}
        <input type="submit" value="Create Account" />
    </form>
</section>

{% endblock %}

