body {
    font-family: Helvetica, Arial, sans-serif;
    }
    
.header {
    text-align:center;
    }
    
a, a:visited {
    color:#516E54;
    text-decoration:none;
    }
    
a:hover {
    text-decoration:underline;
    }
    
hr {
    border:#ddd 1px solid;
    }
    
main {
    padding:0 1em;
    margin:0 auto;
    max-width:40em;
    }
    
article.post {
    padding:1em;
    margin:1em;
    border:#ddd 1px solid;
    display:block;
    text-align:center;
    }
    
article.post .text {
    font-size:1.25em;
    color:#454545;
    display:block;
    padding:.2em;
    }

.meta {
    font-size:.85em;
    padding:.5em;
    }
    
section.center {
    text-align:center;
    }
    
aside.login {
    display:inline;
    }
    
ul.feed, ul.feed li {
    padding:0;
    margin:0;
    list-style:none;
    }